{erl_opts, [debug_info]}.
{deps, [elli,
        {elli_swagger, {git, "https://github.com/dalmirante/elli-swagger", {branch, "master"}}},
        recon]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [elli_swagger_example]}
]}.

{relx, [{release, {elli_swagger_example, "0.1.1"}, [elli_swagger_example,
                                                    {recon, load}]},
        {sys_config, "./config/sys.config"},
        {extended_start_script, true},
        {overlay, []}
]}.
